# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env.local
.env.production.local

# Logs
*.log

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp
*.swo
